[user]
	name = shin-tran
	email = ngoc.shintrann@gmail.com
	signingkey = AFEAE133E517C506
[alias]
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
	pu = push
[commit]
	gpgsign = true
[gpg]
	program = gpg
