[user]
	name = shin-tran
	email = ngoc.shintrann@gmail.com
	signingkey = E725EC46FBBA322F
[alias]
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
	pu = push
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = C:/Program Files (x86)/GnuPG/bin/gpg.exe
